/* markdownStyles.css */

.markdown-content {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  padding: 0.4rem;
}

.markdown-content h1 {
  font-size: 2.5rem;
  border-bottom: 2px solid #eaecef;
  padding-bottom: 0.3em;
  margin-bottom: 1rem;
}

.markdown-content h2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #0366d6;
}

.markdown-content h3 {
  font-size: 1.75rem;
  margin-top: 1.75rem;
  margin-bottom: 0.75rem;
}

.markdown-content p {
  /* margin-bottom: 0.2rem; */
}

.markdown-content a {
  color: #0366d6;
  text-decoration: none;
}

.markdown-content a:hover {
  text-decoration: underline;
}

.markdown-content ul,
.markdown-content ol {
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.markdown-content table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.markdown-content th,
.markdown-content td {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}

.markdown-content blockquote {
  border-left: 4px solid #dfe2e5;
  padding-left: 1em;
  color: #6a737d;
  margin: 1em 0;
}

/* Updated for bold styling */
.markdown-content em,
.markdown-content i {
  font-style: normal; /* Remove italic style */
  font-weight: 600; /* Add bold style */
  font-size: 18px;
}
